<h2>Section Eight - Reactive Forms</h2>

<ngb-tabset>
  <ngb-tab title="Create programmatically">
    <ng-template ngbTabContent>
      <app-sign-up-form></app-sign-up-form>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Form Array">
    <ng-template ngbTabContent>
      <app-new-course-form></app-new-course-form>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Form Builder">
    <ng-template ngbTabContent>
      <app-form-builder></app-form-builder>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Change Password">
    <ng-template ngbTabContent>
      <app-change-password></app-change-password>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
