<h2>Section 6</h2>

<ngb-tabset>
  <ngb-tab title="ngIf">
    <ng-template ngbTabContent>
      <app-ng-if></app-ng-if>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Hidden Property">
    <ng-template ngbTabContent>
      <app-hidden-property></app-hidden-property>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ngSwitchCase">
    <ng-template ngbTabContent>
      <app-ng-switch-case></app-ng-switch-case>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ngFor">
    <ng-template ngbTabContent>
      <app-ng-for></app-ng-for>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Custom Directives">
    <ng-template ngbTabContent>
      <app-custom-directives></app-custom-directives>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Zippy">
    <ng-template ngbTabContent>
      <app-zippy title="Shipping Details">
        Shipping Details Content
      </app-zippy>
      <app-zippy title="Billing Details">
        Billing Details Content
      </app-zippy>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
